// Universal media queries
=media_interval($from, $to)
  @media screen and (min-width: $from+1px) and (max-width: $to)
    @content

=media_more($to)
  @media screen and (min-width: $to+1px)
    @content

=media_less($from)
  @media screen and (max-width: $from)
    @content

=media_h_interval($from, $to)
  @media screen and (min-height: $from+1px) and (max-height: $to)
    @content

=media_h_more($to)
  @media screen and (min-height: $to+1px)
    @content

=media_h_less($from)
  @media screen and (max-height: $from)
    @content

// Font installation script
=font-install ($name, $path, $weight: "normal", $style: "normal")
 $path-inner: "fonts/#{$path}"
 @font-face
   font-family: $name
   src: url("#{$path-inner}.eot")
   src: url("#{$path-inner}.eot?#iefix") format("embedded-opentype"), url("#{$path-inner}.woff") format("woff"), url("#{$path-inner}.ttf") format("truetype")
   font-weight: #{$weight}
   font-style: #{$style}

=ellipsis
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis

=clearfix
  &:after
    content: ""
    display: table
    clear: both

=placeholder
  &:-moz-placeholder
    @content
  &:-ms-input-placeholder
    @content
  &::-webkit-input-placeholder
    @content

=inline-stretch
  text-align: justify
  &:after
    content: ""
    display: inline-block
    width: 90%

=link-underline
  text-decoration: underline
  &:hover
    text-decoration: none

=link-nounderline
  text-decoration: none
  &:hover
    text-decoration: underline

